*, *:before, *:after {
    margin: 0;
    padding: 0;
        box-sizing:border-box;

    background: fixed;
        /* border: 1px solid rgb(60, 201, 47); */

    font-family: 'Corbel';
        color: white;
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    z-index: 1;
    /* visibility: hidden; */
}

#navbarIconsGray, #navbarIconsRed {
    background-color: rgba(0, 0, 0, 0.346);
    position: absolute;
    height: 100vh;
    width: 5.5rem;
}

.navbarIcons a {
    /* border: 1px dotted red; */
    display: flex;
    width: 100%;
    margin-top: 1.5rem;
    justify-content: center;
}


.navbarIconRed {
    background: rgba(0, 0, 0, 0);
    z-index: 10;

}

.navbarIcon {
    margin-left: .6vw;
    border-right: .6vw solid rgba(202, 30, 30,0);
    z-index: 9;
}

.navbarIcon:hover {
    border-right: .6vw solid rgba(202, 30, 30,1);
}

/***************************************/

.pages {
    /* border: 3px solid cyan; */
    height: 100vh;
    position: relative;
    z-index: 0;
    color: white;
    image-rendering:optimizeQuality;
    overflow: hidden;
}

#profilePage, #achievementsPage {
    height: 200vh;
}

.insidepages {
    height: 100vh;
}

#contactsPage {
    height: 20vh;
}

/***************************************/

.homepage-container, .profile-container, .achievements-container, .skills-container, .portfolio-container  {
    /* border: 2px dotted cyan; */
    height: 100vh;
    width: 5.5rem;
    position: absolute;
    padding: 1rem 0;
}

.profile-container, .achievements-container {
    height: 200vh;
}

.portfolio-container {
    height: 90vh;
}

.navbarTitles {
    position: sticky;
    /* border: 3px solid red; */
    transform: rotate(-90deg);
    display: inline-block;
    
    font-size: 4rem;
    color:#ff2a2a;
    font-weight: bolder;
    font-family: arial;

    z-index: 99;
    
}

#navbarHomepage {
    margin: 9rem -7.8rem;
    top: 48rem;
}

#navbarProfile {
    margin: 6rem -4.95rem;
    top: 46rem;
}

#navbarAchievements {
    margin: 12.5rem -12.2rem;
    top: 40rem;
}

#navbarSkills {
    margin: 4rem -3.35rem;
    top: 48.5rem;
}

#navbarPortfolio {
    margin: 7.9rem -7.85rem;
    top: 43.5rem;
}


/***************************************/

.pages, .insidepages {
    background-attachment: scroll;
    /* background-position-x: center; */
    background-position-y: bottom;
    background-clip: border-box;
    background-size: cover;
    position: relative;
    width: 100vw;
    /* right: 0; */
}

#homePage {
    background-image: url(./images/Homepage_Background.jpg);
    background-attachment: fixed;
    background-position: left;
    
}

#profilePage1 {
    background-image: url(./images/ProfilePage_Background.jpg);
}

#profilePage2 {
    background-image: url(./images/ProfilePage_Background2.jpg);

}

#achievementsPage1 {
    background-image: url(./images/Achievements_Background.jpg);
}

#achievementsPage2 {
    background-image: url(./images/Achievements_Background2.jpg);
}

#skillsPage {
    background-image: url(./images/Skills_Background.jpg);
}

#portfolioPage {
    background-image: url(./images/Portfolio_Background.jpg);
}

#contactsPage {
    background-color: rgb(12, 12, 12);
}


/************************************************/

.tags {
    /* border: 3px solid rgb(40, 189, 64); */
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 1.4vh 1.2vw;

    font-family: Corbel, sans-serif;
    font-weight: lighter;
    color: white;
    font-size: 2.9vh;

    height: auto;
    width: 42rem;
}

.tags li {
    display: relative;
    height: fit-content;
    width: fit-content;

    background-color: rgb(65, 65, 65);
    border-radius: 5vw;

    padding: 0.5vh .7vw;
}

.x-container {
    display: relative;
    height: fit-content;
    width: fit-content;

    background-color: rgb(175, 57, 57);
    border-radius: 50%;

    font-family: Arial, sans-serif;
    font-weight: bold;
    
    padding: .07vh .5vw;
    margin-left: .3vw;
}

.x {
    position: relative;
    bottom: .3vh;
}

.tags li:hover {
    background-color: rgb(44, 44, 44);
    cursor:grab;
}

/*********/

#homepageTitle {
    /* border: 3px solid rgb(40, 189, 64); */
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    
    font-size: 7vh;
   
    text-align: left;
    line-height: 11.5vh;

    margin: 2.5vh 0vw;
    left: -3vw;
}

#homepageTitle h1 {
    padding-left: 3rem;
    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
    font-size: 6.9vh;
}

#homepageTitle h2 {
    font-family: Helvetica, serif;
    font-weight: bold;
    font-size: 18vh;
    color:#e63030;
}

.center-page {
    display: flex;
    /* border: 1px solid green; */
    height: fit-content;
    width: 45vw;
    flex-wrap: wrap;
    
    position: absolute;
    top: 20vh;
    left: 34vw;
}

/************************************************/

.profileTitle {
    /* border: 1px dotted cyan; */
    display: inline-block;
    position: absolute;
    left: 58vw;
    top: 4vh;
    right: 3vw;

    font-size: 5.5vw;
    line-height: 7vw;
    text-align: right; 
    z-index: 5;
}

.profileTitle h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#721616;
}

.profile1 {
    /* border: 1px dotted cyan; */
    display: flex;
    flex-direction: column;

    font-size: 2vw;
    width: 28rem;
    height: auto;
    
    position: relative;
    top: 6vh;
    left: 14vw;
}

.profile1 h3 {
    /* border: 1px dotted darkcyan; */
    margin: 5vh 1vw;
    margin-bottom: 1vh;
    width: 100%;
    height: fit-content;
    font-size: 5vh;
    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
}

.profileAboutMe, .profileLanguage {
    /* border: 2px solid gold; */
    position: relative;
    display: flex;
    flex-direction: column;
    
}

#profile-tags, .answers {
    /* border: 1px dotted cyan; */
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.tag-answer {
    display: flex;
    width: 100vw;
}

.answers {
    width: auto;
}

.answers ul {
    /* border: 1px dotted cyan; */
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2vh;
    padding: 0.5vh 1vw;
    justify-content:space-evenly;
}

.answers span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 3.5vh;
    
}

#profile-tags {
    /* border: 1px dotted cyan; */
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    gap: 1.2vh;
    align-items: flex-end;
}

#profile-tags li {
    /* border: 1px dotted cyan; */
    background-color: #3d0e0e;
}

#profile-tags li:hover {
    background-color: #501919;
}

#ans-lang ul {
    /* border: 1px solid pink; */
    width: auto;
    display: flex;
    gap: 3vh;
    flex-direction: column;
    justify-content: space-evenly;
}

#ans-lang li {
    height: 1.5vh;
    width: 46vh;
    border-radius: 5vw;
    background-color: rgb(196, 196, 196);
}

#ans-lang span {
    position: absolute;
    /* border: 1px solid cyan; */
    border-radius: 5vw;
    background-color: rgb(226, 59, 59);
}

#eng {
    height: 1.4vh;
    width: 42vh;
}

#fil {
    height: 1.4vh;
    width: 46vh;
}

#esp {
    height: 1.4vh;
    width: 8vh;
}

/************************************************/

#profileEducation h3 {
    font-size: 8vh;
    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
    text-align: center;

    /* border: 1px dotted cyan; */
    display: block;
    padding-left: 5vw;
    padding-top: 5vh;
    padding-bottom: 3vh;

}

#profileTitle2 {
    /* border: 2px solid purple; */
    display: inline-block;
    position: absolute;
    left: 58vw;
    bottom: 15vh;
    right: 3vw;

    font-size: 5.7vw;
    line-height: 7vw;
    text-align: right; 
    z-index: 5;

}

#profileTitle2 h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#313131;
}

#education {
    /* border: 1px solid palegoldenrod ; */
    display: flex;
    flex-wrap: wrap;

    padding-left: 10vw;
}

#primary, #secondary, #tertiary {
    /* border: 1px dotted firebrick; */
    width: 42vw;
    height: fit-content;
    margin: 1vw;
    padding-left: 0;

    position: relative;
}

#secondary {
    margin-left: 2vw;
}

#tertiary {
    margin-top: -4vh;
}

#profileEducation h4 {
    margin: 1vh 0;
    margin-left: .5vw;
    padding-left: 1vw;
    border-left: 0.5vw solid rgb(150, 20, 20);
    

    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
    font-size: 5vh;
    line-height: 4vh;
    
}

#profileEducation h4 span{
    margin: 1vh 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.8vh;
    color: rgb(170, 55, 55);
}

#profileEducation p {
    margin: 1vh 0;
    margin-left: 2.2vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vh;
}

.checklink {
    /* border: 1px dotted  dodgerblue; */
    display: block;
    position: relative;
    margin-top: 4vh;
    text-align: end;
    padding-right: 3vw;
    color: rgb(61, 61, 61);
    text-decoration: none;
}

.checklink:hover {
    /* border: 1px dotted  dodgerblue; */
    color: #e63030;
    cursor:zoom-in;
}

#education a {
    border: none;
    text-decoration: none;
}

/************************************************/

#achievementsPage1 {
/* border: 1px dotted cyan; */
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;

padding-left: 10vw;
padding-top: 1.5vh;
padding-bottom: 2vh;

}

#achievementsTitle, #achievements {
/* border: 2px solid greenyellow; */
width: 45vw;

display: flex;
flex-wrap: wrap;
}

/****/

#achievementsTitle h1 {
    font-size: 9.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#646464;
}

#achievementsTitle h1 span {
    font-size: 10.4vh;
    font-weight: bolder;
    color:#d32626;
    line-height: 10vh;
}

#achievementsTitle h3 {
    padding-left: 2vw;
    font-size: 3vh;
    color:rgb(63, 63, 63)
    
}

#achievementsTitle h3 span {
    font-size: 5vh;
    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
    
}

/****/

#achievements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10vh;
    justify-content: left;
    padding-left: 5vw;

}

#achievement-tag {
    position: relative;
}

.achievements-containers {
    width: 43vw;
    margin-top: -6vh;
}

.achievements-containers h4 {
    /* border: 2px solid gold; */
    font-family: sans-serif;
    font-weight: bolder;
    color: #c44343;
    font-size: 3.3vh;

    border-left: 0.5vw solid rgb(173, 44, 44);
    padding-left: 1vw;
}

.achievements-containers p {
    padding-top: 1vh;
    font-size: 2.5vh;
    color: #8f8f8f;
}

/************************************************/

#achievementsPage2 {
    /* border: 1px dotted cyan; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-start;
    
    padding-left: 2vw;
    padding-top: 1.5vh;
    padding-bottom: 2vh;
    
    }
    
#achievementsTitle2, #moreAchievements {
    /* border: 2px solid greenyellow; */
    width: 45vw;
    
    display: flex;
    flex-wrap: wrap;
    }
    
    /****/

#achievementsTitle2 {
    margin-left: -5vw;
}
    
#achievementsTitle2 h1 {
        font-size: 9.5vh;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:#4e4e4e;
    }
    
#achievementsTitle2 h1 span {
        font-size: 10.4vh;
        font-weight: bolder;
        color:#d32626;
        line-height: 10vh;
    }
    
#achievementsTitle2 h3 {
        padding-left: 2vw;
        font-size: 3vh;
        color:rgb(63, 63, 63)
        
    }
    
#achievementsTitle2 h3 span {
        font-size: 5vh;
        font-family: 'Microsoft Yi Baiti', serif;
        font-weight: lighter;
        
    }
    
    /****/
    
#moreAchievements {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 10vh;
        justify-content: left;
        padding-left: 5vw;
        padding-top: 40vh;
    }
    
#achievement-tag {
        position: relative;
    }
    
.achievements-containers {
        width: 43vw;
        margin-top: -6vh;
    }
    
.achievements-containers h4 {
        /* border: 2px solid gold; */
        font-family: sans-serif;
        font-weight: bolder;
        color: #c44343;
        font-size: 3.3vh;
    
        border-left: 0.5vw solid rgb(173, 44, 44);
        padding-left: 1vw;
    }
    
.achievements-containers p {
        font-size: 2.5vh;
        color: #8f8f8f;
    }
    
/************************************************/
    
#skillsTitle {
    visibility: hidden;

    position: absolute;
    display: inline-block;
    position: absolute;
    left: 58vw;
    bottom: 15vh;
    right: 3vw;

    font-size: 5.7vw;
    line-height: 7vw;
    text-align: right; 
}

#skillsTitle h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#721b1b;
}

#skills-groups {
    /* border: 2px dotted cyan; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3vh;
    padding-left: 8vw;
}

#interests {
    /* border: 2px solid rgb(247, 0, 255); */
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 70vw;
}

#skills {
    /* border: 2px solid rgb(247, 0, 255); */
    display: flex;
    flex-direction: column;
    height: fit-content;
    flex-wrap: nowrap;
    width: 90vw;
}

#tools {
    /* border: 2px solid rgb(247, 0, 255); */
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 90vw;
}

/******/

#interests .tags, #tools .tags {
    /* border: 2px solid pink; */
    width: 95vw;
}

#skills-groups h3 {
    font-size: 6vh;
    font-family: 'Microsoft Yi Baiti', serif;
    font-weight: lighter;
}

#skills-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: nowrap;
}

#skills1, #skills2, #skills3 {
    display: flex; 
}

#tag-skills1, #tag-skills2, #tag-skills3 {
    flex-direction: column;
}

#tag-skills1, #tag-skills2, #tag-skills3 {
    /* border: 1px dotted cyan; */
    align-items: flex-end;
    width: fit-content;
}

#skills #ans-lang {
    /* border: 1px dotted cyan; */
    width: fit-content;
}

#skills #ans-lang li {
    width: 15vw;
}

#skillsPage li {
    background-color: #2b0707;
}

#skillsPage #ans-lang li {
    background-color: #b4b4b4;
}

/****/

#skills h3 {
    text-align: end;
} 

#tools ul {
    /* border: 1px dotted cyan; */
    padding-right: 6vw;
    justify-content: end;
}


/****/

#indep {
    height: 1.4vh;
    width: 13vw;
}

#collab {
    height: 1.4vh;
    width: 12.5vw;
}

#pres {
    height: 1.4vh;
    width: 11vw;
}

#spd {
    height: 1.4vh;
    width: 14vw;
}

#eff {
    height: 1.4vh;
    width: 13vw;
}

#ideas {
    height: 1.4vh;
    width: 14.5vw;
}

#des {
    height: 1.4vh;
    width: 14vw;
}

#lay {
    height: 1.4vh;
    width: 15vw;
}

#vid {
    height: 1.4vh;
    width: 13vw;
}

#prog {
    height: 1.4vh;
    width: 8.5vw;
}

#print {
    height: 1.4vh;
    width: 13vw;
}

#web {
    height: 1.4vh;
    width: 10vw;
}

#html {
    height: 1.4vh;
    width: 14vw;
}

#css {
    height: 1.4vh;
    width: 14vw;
}

#java {
    height: 1.4vh;
    width: 12vw;
}

#c {
    height: 1.4vh;
    width: 11vw;
}

#csharp {
    height: 1.4vh;
    width: 8vw;
}

#cplus {
    height: 1.4vh;
    width: 12vw;
}

/*********************************************************/


#portfolioPage > h1 {
    padding-top: 20vh;
    text-align: center;
    padding-left: 8vw;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 9vh;
    color: #8d8d8d;
}

#portfolioPage > h1 span{
    line-height: 4vh;
    font-size: 8vh;
    font-family: sans-serif;
    font-weight: bold;
    color: #aa3838;
}

#portfolioPage ul {
    /* border: 1px dotted cyan; */
    width: 100%;
    justify-content: center;
    top: 5vh;
    padding-left: 8vw;
    gap: 5vw;
}

#portfolioPage ul li {
    font-size: 5vh;
}

#portfolioPage a {
    text-decoration: none;
    cursor:zoom-in;
}

/**********************************************************/

#contactsPage {
    /* border: 3px solid firebrick; */
    background-color: rgb(10, 10, 10);
    width: fit-content;
    height: 50vh;
    width: 100vw;
}

#contactsTitle h1 {
    display: inline-block;
    position: relative;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 8vh;
    color: rgb(95, 95, 95);

    left: 12vw;
    top: 2vh;
}

#contactsTitle h2 {
    position: relative;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 3.5vh;
    color:rgb(224, 224, 224);

    left: 12vw;
    top: 3vh;
}

#contactsTitle h3 {
    position: relative;
    font-family: 'Microsoft Yi Baiti', sans-serif;
    font-weight: lighter;
    font-size: 10vh;
    color:rgb(199, 43, 43);

    left: 12vw;
    top: 15vh;
}

#contacts {
    /* border: 1px dotted cyan; */
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: right;
    justify-content: end;

    height: 100%;

    gap: 2.8vh;
    top: -6vh;
    right: 6vw;
}

#contacts img {
    margin-left: 2vw;
}

#contacts a {
    text-decoration: none;
    font-size: 4vh;
    color: rgb(10, 10, 10);
}

#contacts a:hover {
    color: rgb(105, 105, 105);
}


/***adjustments*********/

#prof-tag, #prof-tag2 {
    width:80vw;
}

#contactsTitle h3 {
    width: fit-content;
}

.navbarTitles {
    position: sticky;
}
